:root {
  --ifm-navbar-height: 100px;
  --ifm-menu-link-padding-vertical: 10px;
  --ifm-menu-link-padding-horizontal: 16px;
  --ifm-toc-border-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.tabs {
  position: relative;
}

.tabs::before {
  position: absolute;
  display: block;
  content: '';
  height: 3px;
  background-color: #f3f4f6;
  left: 0;
  right: 0;
  bottom: 0;
}

.tabs .tabs__item {
  position: relative;
  padding: 12px 16px;
  border-radius: 6px 6px 0 0;
  font-weight: 500;
  color: #111827;
}

.tabs .tabs__item:hover {
  background-color: #f3f4f6;
  border-bottom-color: #d1d5db;
}

.tabs .tabs__item.tabs__item--active {
  border-bottom-color: #2563eb;
}

.container,
.docs-wrapper {
  @apply tw-container;
}

.docs-wrapper .container {
  padding: 0;
}

.docs-wrapper [class*='docItemContainer'] {
  padding: 0;
}

@media (min-width: 997px) {
  .docs-wrapper [class*='docMainContainer'] {
    margin-left: 40px;
  }
}

.docs-wrapper .menu {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-vert--lg {
  padding-top: 0 !important;
}

svg {
  display: inline-block;
}

.tw-row {
  --gutter: 32px;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gutter) / 2 * -1);
  margin-right: calc(var(--gutter) / 2 * -1);
}

.tw-row > [class*='tw-col-'] {
  padding-left: calc(var(--gutter) / 2);
  padding-right: calc(var(--gutter) / 2);
}

.tw-gutter-vertical {
  margin-top: calc(var(--gutter) / 2 * -1);
  margin-bottom: calc(var(--gutter) / 2 * -1);
}

.tw-gutter-vertical > [class*='tw-col-'] {
  padding-top: calc(var(--gutter) / 2);
  padding-bottom: calc(var(--gutter) / 2);
}

@responsive {
  @for $i from 1 to 12 {
    .tw-col-$i {
      flex: 0 0 calc(100% / 12 * $(i));
      max-width: calc(100% / 12 * $(i));
    }

    .tw-offset-$i {
      margin-left: calc(100% / 12 * $(i));
    }
  }
}
