$spacer: 1rem;
$spacers: map-merge(
  $spacers,
  (
    6: $spacer * 4.5
  )
);

$display1-size: 3.5rem;
$display2-size: 3rem;
$display3-size: 2.5rem;
$display4-size: 2rem;

$font-weight-bold: 600;

$text-muted: $gray-500;
