:root {
  --ifm-color-primary: #26a7ef;
  --ifm-color-primary-dark: #119be8;
  --ifm-color-primary-darker: #1093db;
  --ifm-color-primary-darkest: #0d79b5;
  --ifm-color-primary-light: #40b1f1;
  --ifm-color-primary-lighter: #4db7f2;
  --ifm-color-primary-lightest: #73c6f5;
}
