// ref：https://v1.vuepress.vuejs.org/config/#index-styl

// Navbar Logo
.navbar {
  .home-link {
    display: inline-flex !important;
    height: 100%;
    align-items: center;
    // @see https://codepen.io/sosuke/pen/Pjoqqp
    filter: invert(20%) sepia(15%) saturate(1272%) hue-rotate(169deg) brightness(98%) contrast(90%);
    transition: filter 150ms ease-in-out;

    &:hover {
      filter: invert(32%) sepia(86%) saturate(1423%) hue-rotate(176deg) brightness(95%) contrast(98%);
    }

    .logo {
      height: 36px;
    }

    .site-name {
      display: none;
    }
  }
}

// Navbar Burger
.sidebar-button {
  top: 1rem !important;
}

// Navbar Links
.links {
  .nav-links a {
    font-size: 1.1rem;

    &:hover, &:not(.external).router-link-active {
      border: 0 none !important;
      color: $accentColor;
    }
  }
}

// Landing Pages
.landing {
  .theme-default-content:not(.custom) {
    max-width: 960px !important;
  }

  .page-edit {
    display: none;
  }
}
