:root {
  --van-padding-xs: 16px;
  --van-padding-sm: 20px;
  --van-padding-md: 24px;
  --van-padding-lg: 32px;
  --van-padding-xl: 40px;

  --van-font-size-xs: 11px;
  --van-font-size-sm: 13px;
  --van-font-size-md: 15px;
  --van-font-size-lg: 17px;
}

.van-tab {
  &--shrink {
    padding: 0 14px;
  }
}

.van-tabs {
  height: 100%;

  .van-sticky {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 44px;
      content: "";
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 2;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 44px;
      content: "";
      background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 2;
    }
  }

  &__content {
    height: calc(100% - 44px);
  }
}
