<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-reboot@4.5.4/reboot.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" crossorigin="anonymous">

    <title>CDN Stats</title>
  </head>
  <body style="padding: 20px;">
    <table id="table"></table>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
          $('#table').DataTable( {
              data: {{{ tableData }}},
              columns: [
                  { title: "Referrer" },
                  { title: "Requests" },
                  { title: "Errors" },
                  { title: "Error rate" },
                  { title: "Hit" },
                  { title: "Hit rate" },
                  { title: "Miss" },
                  { title: "Miss rate" },
                  { title: "Estimated monthly costs" },
              ]
          } );
      } );
    </script>
  </body>
</html>