h1 {
    line-height: .3em;
}

h2 {
    line-height: .8em;
}

.mb-6 {
    margin-bottom: 7rem!important;
}

.fork-me {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 1;
}

button {
    cursor: pointer;
}

img {
    image-rendering: pixelated;
}